{# {{ dump(data) }} #}
{{ attach_library('back2views/backblock') }}

<div class="back2views-block-wrapper b2v-back-link-wrapper"><a class="back2views-block b2v-back-link" href="{{ data.referrer_path }}">{{ data.target_title }}</a></div>

{% if data.is_accessible_to_create and data.path_to_create %}
  <hr>
  <div class="back2views-block-wrapper b2v-add-new-wrapper"><a class="back2views-block b2v-add-new" href="{{ data.path_to_create }}">Add New</a></div>
{% endif %}